.jumbotron {
	max-height: 40px;
}

.btn {
}

.tower {
	z-index: 1000;
	background-color: blue;
	position: absolute;
	height : 15px;
	width : 15px;
	border-radius:10px;
}

#gridContainer {
	width: 100%;
	position: absolute;
}

.box {
	border:solid;
	position: relative;
	display: inline-block;
	width: 82px;
	height: 63px;
	left: 75px;
/*	margin: 0 auto;
*/	vertical-align: top;
	font-size: 70px;
	max-height: 149px;
	text-align:center;
/*	line-height: 2em;
*/	background-color: gray;
	margin: -2px;
	padding: 0px;
}

.enemy {
	z-index: 1000;
	background-color: black;
	position: absolute;
	height : 15px;
	width : 15px;
	border-radius:10px;
}

/*this is the coding to differential the track, this is grabbed and manipulated in JS*/
.track {
	background-color: brown;
}