.jumbotron {
	height: 100px;
}

.gridContainer {
	width: 100%;
}

.box {
	border:solid;
	position: relative;
	display: inline-block;
	width: 9%;
	height: .9em;
	left: 8%;
/*	margin: 0 auto;
*/	vertical-align: top;
	font-size: 70px;
	max-height: 149px;
	text-align:center;
/*	line-height: 2em;
*/	background-color: gray;
	margin: -2px;
	padding: 0px;
}

/*this is the coding to differential the track, this is grabbed and manipulated in JS*/
.track {
	background-color: brown;
}